@model DemoSanBong.ViewModels.FieldViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link rel="stylesheet" href="~/css/cField.css"/>

<h1 style="text-align: center; margin-bottom: 20px;">Explore Our <span class="highlight" style="color: #ffb400;">CREATE FIELD</span></h1>

<form asp-action="Create" asp-controller="Field" enctype="multipart/form-data" id="createForm" class="field-container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="field-left">
        <div class="image-grid">
            <div class="form-img">
                <label asp-for="DefaultImage">Upload Image</label>
                <input type="file" name="image" class="form-control" id="imageUpload" />
            </div>
            <div class="form-img">
                <img id="Image" src="~/Images/default.jpg" alt="No Image" />
            </div>
        </div>
    </div>
    <div class="field-right">
        <div class="form-container">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>

                <label asp-for="PricePerMonth" class="control-label"></label>
                <input asp-for="PricePerMonth" class="form-control" />
                <span asp-validation-for="PricePerMonth" class="text-danger"></span>
            </div>
            <div class="form-group full-width">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group-other" style="margin-bottom: 15px">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> Kích hoạt ngay
                </label>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary">LƯU</button>
            </div>

        </div>

        <div>
            <a class="text-warning" asp-action="Index" style="padding-left: 35px;">Quay lại</a>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        document.getElementById('imageUpload').addEventListener('change', function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('Image');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        });
    </script>
}