@{
    ViewData["Title"] = "Home Page";    
}
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img  style="height: 900px; width: 100%" src="~/Images/FieldImages/tienlinh.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="width: 700px; height: 300px">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Thể thao là</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">Không ngừng bỏ cuộc</h1>
                        <a asp-action="index" asp-controller="field" class="btn btn-success py-md-3 px-md-5 me-3 animated slideInLeft">Menu Sân</a>
                        <a asp-action="booking" asp-controller="booking" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Đặt Ngay</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <img  style="height: 900px; width: 100%" src="~/Images/domixi.webp" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="width: 700px; height: 300px">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Hí anh em</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">Trai đẹp vô cùng tận đá banh nè!!!</h1>
                        <a asp-action="index" asp-controller="field" class="btn btn-light py-md-3 px-md-5 me-3 animated slideInLeft">Menu Sân</a>
                        <a asp-action="booking" asp-controller="booking" class="btn btn-success py-md-3 px-md-5 animated slideInRight">Đặt Ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
