body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.field-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    gap: 0;
}

.field-left,
.field-right {
    flex: 1;
    padding: 20px;
}

.field-left {
    display: flex;
    flex-direction: column;
}

.image-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-img {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .form-img img {
        width: 100%;
        height: 300px;
    }

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

    .form-group.full-width {
        display: block;
    }

    .form-group input,
    .form-group textarea {
        width: 48%;
        padding: 10px;
        font-size: 16px;
    }

    .form-group.full-width textarea {
        width: 100%;
    }

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group input {
    width: calc(30% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.field-container label {
    display: inline-block;
    margin-top: 10px;
}

.form-group button {
    padding: 15px;
    background-color: #f6a23c;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

    .form-group button:hover {
        background-color: #e5942b;
    }

@media (max-width: 768px) {
    .field-container {
        flex-direction: column;
    }

    .form-group input {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
    }

    .form-group.full-width textarea {
        width: 100%;
    }
}
