@model List<DateTime> 

<select id="CheckinDate" name="CheckinDate">
    @foreach (var hour in Model)
    {
        <option value="@hour.ToString("yyyy-MM-dd HH:mm")">@hour.ToString("HH:mm")</option>
    }
</select>